@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: linear-gradient(to bottom, #b5ccd6, #4dd1e9);
    height: 100vh; /* Ajuste conforme necessário */
    width: 100%;
    transition:  0.5s ease-in-out;
}

body:hover {
    background: linear-gradient(to bottom, #239fdd, #c4e0e9);
    height: 100vh; /* Ajuste conforme necessário */
    width: 100%;
}